services:
  - type: web
    name: crushgram-backend
    env: node
    region: singapore
    plan: free
    rootDir: backend
    buildCommand: npm install
    startCommand: node app.js
    envVars:
      - key: PORT
        value: 10000
      - key: NODE_VERSION
        value: 20.11.0
    autoDeploy: true
